<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spotifard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5000C3D2B0B0FE9008EC429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5000C4D2B0B0FEB008EC429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5000C572B0B0FEB008EC429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
